/* Style for "Shadow" */

.app {
    height: 680px;
    background-image: linear-gradient( to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.header_title {
    width: 450px;
    height: 34px;
    text-shadow: 0 1px 0 #000000;
    color: #ffffff;
    font-family: 'Exo 2', sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin: 0 auto;
    padding-top: 47px;
}