a.pack_link {
    display: block;
    width: 320px;
    height: 480px;
    background: url('../../img/CardBack.png') no-repeat;
    border: none;
    background-color: transparent;
    margin: 0;
}

a.pack_link:hover {
    text-decoration: none;
}

.card_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 207px;
    align-items: start;
    padding-left: 49px;
}

.card_info_subtitle_top {
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 16px;
    font-weight: 400;
    /* margin: 0 auto; */
    padding-top: 24px;
}

.card_info_title {
    /* width: 207px;
    height: 45px; */
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 48px;
    font-weight: 700;
    /* align-self: center; */
}

.card_info_subtitle_bottom {
    /* width: 111px;
    height: 23px; */
    color: #000000;
    font-family: 'Trebuchet MS';
    font-size: 24px;
    font-weight: 700;
}

.card_info_text {
    width: 106px;
    height: 31px;
    color: #666666;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    line-height: 16px;
    font-family: 'Trebuchet MS';
    font-weight: 700;
}