.pack_info {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 49px;
    width: 100%;
}

.pack_info_title,
.pack_info_subtitle_bottom,
.pack_info_text {
    font-weight: 700;
}

.pack_info_subtitle_top {
    color: #666666;
    font-size: 16px;
    font-weight: 400;
    padding-top: 24px;
}

.pack_info_title {
    color: #000000;
    font-size: 48px;
}

.pack_info_subtitle_bottom {
    color: #000000;
    font-size: 24px;
}

.pack_info_text {
    width: 150px;
    color: #666666;
    font-size: 14px;
    line-height: 16px;
}