@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
.header_title {
    width: 500px;
    height: 34px;
    text-shadow: 0 1px 0 #000000;
    color: #ffffff;
    font-family: 'Exo2Thin', sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin: 0 auto;
}